
.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .App-header {
    background-color: #eae8ff;
    height: 40px;
    /* padding: 5px; */
    /* color: white; */
  }
  